<div class="container" ng-controller="employeeCtrl">
    <div class="panel panel-info">
        <div class="panel-heading">
            Employees List
        </div>
        <div class="panel-body">
            <button class="btn btn-info" data-target="#addEmployee" data-toggle="modal">
                <span class="glyphicon glyphicon-plus texto_botao"> 
                Create Employee
                </span> 
            </button>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Employee Id</th>
                    <th>Name</th>
                    <th>Department</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="emp in employees">
                    <td>{{emp.EmpID}}</td>
                    <td>{{emp.Name}}</td>
                    <td>{{emp.Department}}</td>
                    <td>{{emp.Role}}</td>
                    <td>{{emp.Email}}</td>
                    <td style="width: 120px;">
                        <a href="#" data-target="#updateEmployee" data-toggle="modal" ng-click="updateEmployeeById(emp)" class="btn btn-success">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="#" data-target="#deleteEmployee" data-toggle="modal" ng-click="deleteEmployeeById(emp)" class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

    <!-- Add Employee Panel -->
    <div class="modal" id="addEmployee" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-info">Create Employee</h3>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form class="form-horizontal" name="CreateEmployeeForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="EmpID" type="hidden" placeholder="" />
                        </div>                        
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input class="form-control" type="text" name="name" ng-model="name" placeholder="Employee Name" />
                        </div>                         
                        <div class="form-group">
                            <label for="department">Department:</label>
                            <input class="form-control" type="text" name="department" ng-model="department" placeholder="Department" />
                        </div>                         
                        <div class="form-group">
                            <label for="role">Role:</label>
                            <input class="form-control" type="text" name="role" ng-model="role" placeholder="Employee Role" />
                        </div>                         
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input class="form-control" type="text" name="email" ng-model="email" placeholder="Email" />
                        </div>                        
                        
                    </form>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btnSalvar" data-dismiss="modal" ng-click="addEmployee()">Save</button>
                    <button class="btn btn-default" id="btnClose" data-dismiss="modal" ng-click="cleanFields()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Add Employee Panel -->

    <!-- Update Employee Panel -->
    <div id="updateEmployee" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="text-warning">Update Employee Information</h3>
                </div>
                <div class="modal-body" style="margin-left: 20px;">
                    <form class="form-horizontal" name="UpdateForm">
                        <div class="form-group">
                            <input class="form-control" readonly="readonly" name="EmpID" ng-model="updatedEmpID" type="hidden" />
                        </div>
                        <div class="form-group">
                            <label for="name">Name:</label>
                            <input class="form-control" name="Name" ng-model="updatedName" placeholder="Nome" />
                        </div>
                        <div class="form-group">
                            <label for="name">Department:</label>
                            <input class="form-control" name="Department" ng-model="updatedDepartment" placeholder="Department" />
                        </div>
                        <div class="form-group">
                            <label for="name">Role:</label>
                            <input class="form-control" name="Role" ng-model="updatedRole" placeholder="Role" />
                        </div>
                        <div class="form-group">
                            <label for="name">Email:</label>
                            <input class="form-control" name="Email" ng-model="updatedEmail" placeholder="Email" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="btnUpdate" data-dismiss="modal" ng-click="updateEmployee()">Update</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Update Employee Panel -->

    <!-- Delete Employee Panel -->
    <div id="deleteEmployee" class="modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-danger">
                    <h4><strong>Caution:</strong> Are you sure you want to delete this employee?</h4>
                    <h4>Once deleted this information is no longer available.</h4>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Employee ID:</strong> {{updatedEmpID}}</li>
                        <li class="list-group-item"><strong>Name:</strong> {{updatedName}}</li>
                        <li class="list-group-item"><strong>Department:</strong> {{updatedDepartment}}</li>
                        <li class="list-group-item"><strong>Role:</strong> {{updatedRole}}</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" ng-click="deleteEmployee(updatedEmpID)">Delete</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Delete Employee Panel -->

</div>

@section scripts{
    <script src="~/ClientApp/Employee/Module.js"></script>
    <script src="~/ClientApp/Employee/Service.js"></script>
    <script src="~/ClientApp/Employee/Controller.js"></script>
}